body{
    padding:40px;
    background-color: skyblue;
    text-align: center;
}

.header{
    color: #fff;
    font-style: oblique;
}
.para{
    color: #fff;
    font-family: verdana;
    font-size:20px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height: 60px;
    background: #fff;
    margin-top: 30px;
    border-radius: 2px;
    text-align: center;
}

#greetings{
    font-style: italic;
}